*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

nav {
  background-color: #0187ff;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 999;
}

@media screen and (min-width: 768px) {
  nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.logo {
  color: white;
  font-size: 12px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.menu-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: absolute;
  background-color: #0187ff;
  padding: 20px;
  right: 0;
  top: 64px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-list li {
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .menu-list li {
    margin-bottom: 0px;
  }
}

.menu-list li a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  margin-left: 20px;
}

.menu-list li a:hover {
  background-color: white;
  border-radius: 5px;
  color: #0187ff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.menu-list li:last-child {
  margin-bottom: 0;
}

.menu-list li a,
.menu-list li:last-child a {
  width: 100%;
  display: block;
  margin: auto;
}

.burger-menu {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .burger-menu {
    display: none;
  }
}

.burger-menu .fa-bars {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.burger-menu .fa-times {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.menu-list.closed {
  right: -100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media screen and (min-width: 1024px) {
  .menu-list.closed {
    position: revert;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    padding: 0;
  }
}

.item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .item-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.item-container article {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px 30px 15px 30px;
  background-color: #ecebeb;
  margin: 20px 0;
}

@media screen and (min-width: 768px) {
  .item-container article {
    max-width: 25vw;
  }
}

@media screen and (min-width: 1024px) {
  .item-container article {
    max-width: 15vw;
  }
}

.item-container .item-img {
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}

#selected-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  #selected-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  #selected-item .pictures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#selected-item .pictures img {
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  #selected-item .pictures img {
    max-height: 400px;
    max-width: 400px;
  }
}

#selected-item .pictures div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  width: 100vw;
  margin: 20px 0;
}

@media screen and (min-width: 768px) {
  #selected-item .pictures div {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 50vw;
  }
}

#selected-item .pictures div img {
  width: 100px;
  height: 100px;
}

#selected-item .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#selected-item .details .title {
  font-weight: 700;
  padding: 0 20px;
}

#selected-item .details .description {
  margin-bottom: 10px;
  padding: 0 20px;
}

#selected-item .add-to-cart {
  background-color: #0187ff;
  color: white;
  border-radius: 4px;
  padding: 12px;
  border: none;
  width: 100%;
  cursor: pointer;
}

.back-to-results {
  padding: 20px;
}

.cart {
  width: 100vw;
  height: 100vh;
}

.cart .cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #333;
}

@media screen and (min-width: 768px) {
  .cart .cart-item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100vw;
  }
}

.cart .cart-item img {
  max-width: 250px;
  max-height: 250px;
}

@media screen and (min-width: 768px) {
  .cart .cart-item img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    max-width: 150px;
    max-height: 150px;
    margin: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .cart .cart-item img {
    max-width: 200px;
    max-height: 200px;
  }
}

.cart .cart-item .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}

@media screen and (min-width: 768px) {
  .cart .cart-item .details {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
}

.cart .cart-item .details .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .cart .cart-item .details .title {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.cart .cart-item .details .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .cart .cart-item .details .description {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.cart .cart-item .details .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .cart .cart-item .details .price {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.cart .cart-item .qty-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

@media screen and (min-width: 768px) {
  .cart .cart-item .qty-input {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5/6;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.cart .cart-item .qty-input button {
  width: 30px;
  height: 30px;
  background-color: #0187ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cart .cart-item .qty-input button:hover {
  background-color: transparent;
  color: #0187ff;
  border: 2px solid #0187ff;
}

.cart .cart-item .qty-input button:active {
  background-color: rgba(1, 135, 255, 0.3);
  color: #0187ff;
  border: none;
}

.cart .cart-item .qty-input span {
  padding: 10px;
}

.cart .cart-item .item-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .cart .cart-item .item-total {
    -ms-grid-column: 6;
    -ms-grid-column-span: 1;
    grid-column: 6/7;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.cart .cart-item .remove-btn button {
  background-color: #da0000;
  padding: 12px;
  color: white;
  border: 2px solid #da0000;
  border-radius: 4px;
  cursor: pointer;
}

.cart .cart-item .remove-btn button:hover {
  background-color: transparent;
  color: #da0000;
  border: 2px solid #da0000;
}

.cart .cart-item .remove-btn button:active {
  background-color: rgba(218, 0, 0, 0.3);
  color: #da0000;
  border: 2px solid #da0000;
}

.cart-total {
  font-weight: 700;
}
/*# sourceMappingURL=styles.css.map */